@model Forum20.Models.Reply.PostReplyModel
<div class="container body-content">

    <div class="row sectionHeader">
        <div class="sectionHeading">
            Reply | @Model.PostTitle
            <div class="forumLogo" style="background-image: url(@Model.ForumImageUrl); background-size:100%"></div>
            <span id="headingBtn"><a asp-controller="Post" asp-action="Index" asp-route-id="@Model.PostId" class="btn btn-back">Back to Post</a></span>
        </div>
    </div>
    <div class="row">
        <div id="originalPost">
            <h3>
                @Model.PostTitle
            </h3>
            <p>
                @Model.PostContent
            </p>
        </div>
    </div>
    <div class="row">
        <div class="createPostSection">
            <div class="authorBlock">
                You're submitting this Reply as <strong>@Model.AuthorName</strong>
            </div>
            <form asp-action="Edit" method="post" id="addPostForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ReplyContent">Reply:</label>
                    <span asp-validation-for="ReplyContent" id="replyerror" class="text-danger"></span>
                    <textarea asp-for="ReplyContent" rows="10" id="reply" class="form-control" value="@Model.ReplyContent"></textarea>

                </div>
                <button type="submit" id="submitReplyrBtn" onclick="return CheckReply()" class="btn btn-submitPost">Submit Reply</button>
                <input asp-for="AuthorId" type="hidden" />
                <input asp-for="PostId" type="hidden" />
                <input asp-for="ForumName" type="hidden" />
                <input asp-for="ForumId" type="hidden" />
            </form>
        </div>
    </div>
</div>

@*
    <h2></h2>
    <p>@Model.ReplyContent</p>*@